<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /portafolio
  RewriteRule ^portafolio/index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . portafolio//index.html [L]
</IfModule>
